input {
    height: 30px;
    display: block;
}

.token_input {
    width: 450px;
    margin: 10px;
}

.main_button {
    height: 50px;
    width: 450px;
    margin: 10px;
}

form {
    width: 500px;
    margin: 30px;
    border-style: solid;
    border-color: #999;
    border-width: 1px;

}

.form_paragraph{
    margin: 10px
}